<?xml version="1.0"?>
<model>
  <name>freecad_chair</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Jose Balbuena</name>
    <email>josebalbuena181096@gmail.com</email>
  </author>
  <description>
    Silla objetivo modelada en FreeCAD (percepcion_nav/freecad/make_chair.py). Origen en el
    centro de la huella, a nivel del piso; el frente mira hacia +X.
  </description>
</model>
